/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts end */

*{
    padding: 0;
    margin: 0;
}

/* hero bg img */
.herobg{
    background-image: url(./images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* the nav */
.test{
    display: flex;
    align-items: center;
    padding: 5px;
}

.nav-link:hover {
    color: #494949;
}

.nav li a{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
}

/* mi button/icon */
.mi{
    display: flex;
    align-items: center;
}

/* dwei */
.htext h2{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
}
      
/* clr */
.clr{
    background: #00000096;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.htext{
    font-family: raleway itlaic;
}

.btn{
    border-radius: 4px;
    padding: 4px 14px;
}

.btn:hover {
    background-color: orangered;
}

.buton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    z-index: 1000;
    position: relative;
    top: 100px;
}

.text h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
}

.text p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #D8DADB;
}

.bttn{
    background-color: orangered;
    border-radius: 4px;
    padding: 8px 26px;
    border: none;
    transition: background-color 0.3s ease;
}

.bttn:hover{
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.wbtn{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.wbtn:hover{
    color: #FF4500;
    transition: background-color 0.3s ease;
}

.bticon{
    font-size: 30px !important;
}

/* about section */
.title{
    font-size: 31px;
    color: #273D4E;
    font-family: raleway itlaic;
}

.cip p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.ptext{
    color: #A2A2A2;
    font-size: 16px;
    font-style: italic;
    font-family: raleway itlaic;
}

.para3{
    padding-left: 25px;
}

.para4{
    font-size: 15px;
}

.img2{
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; 
    height: 60px;
    background-color: #ff4500; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fplay{
    font-size: 35px;
    color: #ffff;
}

/* card */
.client{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

#card{
    background-color: #EFF2F8;
}

.bi{
    color: #ffff;
    font-size: 30px;
    cursor: pointer;
}

.cdbi{
    color: #FF4A17;
    font-size: 40px;
}

.card-body{
    padding: 25px;
}

.card-body h5{
    font-family: raleway itlaic;
    font-size: 35px;
}

.card-body p{
    font-family: raleway itlaic;
    font-size: 16px;
}

/* servicess */
.sub-title {
    font-weight: 600;
    color: #a0a0a0;
    letter-spacing: 1px;
}

.main-title {
    font-size: 36px;
    color: #1E2C3B;
}

/* services card */
.sub-title::after{
    content: '';
    width: 105px;
    height: 2px;
    background-color: orangered;
    display: inline-block;
    margin: 4px 10px;
}

.icon{
    background-color: orangered;
    color: #ffff;
}

.cardd{
    position: absolute;
    width: 18rem;
    border-radius: 8px;
    top: 67%;
    left: 45px;
}

.card-txt h5{
    font-family: raleway itlaic;
    font-size: 20px;
    color: #273D4E;
}

.card-txt p{
    font-family: raleway itlaic;
    font-size: 15px;
    color: #565656;
}

.icn{
    font-size: 32px;
    color: #ffff;
}

.icon{
    width: 72px;
    height: 72px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: orangered;
    transition: 0.3s ease-in-out;
    font-size: 28px;
    position: absolute;
    margin: -50px 105px 0px;
}

.cardd::before{
    box-sizing: border-box;
}


/* cients */
.bg-color{
    background-color: #F1F4FA;
}

.cimg1{
    width: 80px;
}

.cimg1 img{
    opacity: 0.5;
    filter: grayscale(100);
}

.cimg1 img:hover{
    opacity: 1;
    filter: none;
    transition: all 0.3s ease-in-out;
 
}

/* features section */
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.card-body h4 {
    font-family: raleway itlaic;
    font-size: 21px;
}

.ftcrd{
    background-color: orangered;
    color: #ffff;
    font-size: 40px;
}

.cdb{
    font-size: 40px;
    color: #273D4E;
}

.ftcrd i{
    color: #ffff;
}

.cdbi{
    color: #FF4A17;
    font-size: 40px;
}

.card:hover{
    border: 1px solid #FF4A17;
}

.card:hover .cdb{
    color: #FF4A17;
}

/* features paragraph */
.para5{
    font-size: 16px;
}

/* Check our Services */
.servcs{
    background-color: #F1F4FA;
}

.mdnav{
    background-color: #ffff;
    color: #444444;
    font-size: 20px;
    top: 50px;
    display: none;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
}

/* headder color change */
#main-header {
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 9999;
}

/* Scrolled state */
#main-header.scrolled {
    background-color: rgba(21, 34, 43, 0.85);
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}


/* media queries 768px*/
@media screen and (max-width: 768px){
    /* the nav */
    .test{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* md navbar */
    .mi a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .mi btn:hover{
        background-color: #FF4500;
    }

    .blist{
        color: #ffff;
        font-size: 30px;
    }

    /* nav */
    .nav{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 10px 15px;
    }

    /* card */
    .cardp{
        padding: 30px 25px 40px 25px;
    }

    .simg3{
        padding-top: 70px;
    }

    .card-body {
        padding: 30px 55px;
    }

    /* Clients */
    .client{
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        gap: 40px;
    }

}