/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts end */

*{
    padding: 0;
    margin: 0;
}

/* hero bg img */
.herobg{
    background-image: url(./images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* navbar underline effect*/
.nav li{
    position: relative;
}

.nav li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF4500;
    transition: width 0.3s ease;
}

.nav li:hover::before {
    width: 100%;
    transition: width 0.3s ease;
}

.nav{
    gap: 19px;
}

.test{
    display: flex;
    align-items: center;
    padding: 10px 0px 0px 12px;
}

.nav-link {
    font-family: "raleway italic", sans-serif;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ff4500;
  }

  .mdnav{
    background-color: #ffff;
    color: #444444;
    font-size: 20px;
    top: 50px;
    display: none;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
}

/* headder color change */
#main-header {
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 9999;
}

/* Scrolled state */
#main-header.scrolled {
    background-color: rgba(21, 34, 43, 0.85);
}

/* Dropdown menu styling */

.dropdown-menu {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    background-color: #fff;
  }
  
  .dropdown-item {
    font-family: "raleway italic", sans-serif;
    font-size: 15px;
    color: #273D4E; /* Dark color from your theme */
    padding: 8px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa; /* Light gray hover background */
    color: #ff4500; /* Orange hover text */
  }
  
  /* Nested dropdown */
  .dropdown-menu{
    position: absolute !important;
    inset: 0px auto auto 0px !important;
    margin: 0px !important;
    transform: translate3d(18px, 38px, 0px) !important;
  }
  .dropdown-menu .dropdown-toggle {
    position: relative;
  }
  
  .dropdown-menu .dropdown-menu.submenu {
    top: 0;
    left: 100%; /* Position submenu to the right */
    margin-left: 0;
    min-width: 180px;
    display: none; /* Hidden by default */
  }
  
  /* Show nested dropdown on hover */
  .dropdown:hover > .dropdown-menu {
    display: block; /* Show main dropdown on hover */
  }
  
  .dropdown-menu .dropdown:hover > .submenu {
    display: block; /* Show nested dropdown on hover */
  }

.nav-link:hover {
    color: #494949;
}

.dmenu li a{
    color: #464646;
}

.nav li a{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
}

/* mi button/icon */
.mi{
    display: flex;
    align-items: center;
}

/* dwei */
.htext h2{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
}

/* menu underline */
    

/* clr */
.clr{
    background: #000000ba;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.htext{
    font-family: raleway itlaic;
}

.btn{
    border-radius: 4px;
    padding: 4px 14px;
}

.btn:hover {
    background-color: #FF4500;
}

.buton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    z-index: 1000;
    position: relative;
    top: 100px;
}

.text h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
}

.text p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #D8DADB;
}

.bttn{
    background-color: #FF4500;
    border-radius: 4px;
    padding: 10px 24px;
    border: none;
    display: inline-block;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.bttn:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(255, 68, 0, 0.767);
}

.wbtn{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.wbtn h5{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffff;
}

.wbtn h5:hover{
    color: #FF4500;
    transition: background-color 0.3s ease;
}

.bticon{
    font-size: 30px !important;
    color: #FF4500 !important;
}

/* about section */
/* col#1 */
.title{
    font-size: 28px;
    color: #273D4E;
    font-weight: 700;
    font-style: normal;
    line-height: 34px;
    font-family: "Raleway", sans-serif;
}

.cip p{
    color: #444444;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
}

/* col#2 */
.ptext{
    color: #A2A2A2;
    font-size: 16px;
    font-style: italic;
    font-family: raleway itlaic;
    font-weight: 400;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
}

.bcircle{
    background-color: #FF4500;
    border-radius: 15px;
    color: #ffff;
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.para3{
    padding-left: 25px;
}

.para4{
    font-size: 15px;
}

.img2{
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; 
    height: 60px;
    background-color: #ff4500; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fplay{
    font-size: 35px;
    color: #ffff;
}

/* Animation keyframes for fade and scale play button */
@keyframes fadeScaleIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8); /* Start smaller */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1); /* Full size */
    }
}

/* Apply animation when element becomes active */
.animate-on-scroll {
    opacity: 1;
}

.animate-on-scroll.active {
    animation: fadeScaleIn 0.6s ease-out forwards; /* Animation on scroll */
}

/* Hover effect */
.play-button:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Slight scale up on hover */
    transition: transform 0.3s ease;
}

/* card */
.client{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

#card{
    background-color: #EFF2F8;
}

.bi{
    color: #ffff;
    font-size: 30px;
    cursor: pointer;
}

.cdbi{
    color: #FF4A17;
    font-size: 40px;
}

.cardp{
    padding: 25px 30px 48px 25px !important;
}

.card-body{
    padding: 25px;
}

.cdbody{
    padding: 19px 24px !important;
}

.card-body h5{
    font-size: 36px;
    color: #273D4E;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    font-family: "Roboto", sans-serif;
}

.card-body p{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

/* servicess */
.sub-title {
    font-size: 14px;
    margin: 0px;
    font-weight: 600;
    color: #a0a0a0;
    letter-spacing: 1px;
}

.main-title {
    font-size: 36px;
    color: #1E2C3B;
}

/* services card */
.sub-title::after{
    content: '';
    width: 105px;
    height: 1px;
    background-color: #FF4500;
    display: inline-block;
    margin: 4px 10px;
}

.cardd{
    position: absolute;
    width: 18rem;
    border-radius: 8px;
    top: 65%;
    left: 45px;
    transition: top 0.3s ease;
}

.card-txt h5{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #273D4E;
    font-family: "Roboto", sans-serif;
}

.card-txt p{
    font-family: raleway itlaic;
    font-size: 15px;
    color: #565656;
}

.icon{
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FF4500;
    transition: 0.3s ease-in-out;
    font-size: 28px;
    position: absolute;
    margin: -50px 105px 0px;
    border: 6px solid white;
}

.cardd::before{
    box-sizing: border-box;
}

/* cients */
.bg-color{
    background-color: #F1F4FA;
}

.cimg1{
    width: 80px;
}

.cimg1 img{
    opacity: 0.5;
    filter: grayscale(100);
}

.cimg1 img:hover{
    opacity: 1;
    filter: none;
    transition: all 0.3s ease-in-out;
}

/* features section hover */
.img1-hvr:hover .simg1 img, .img1-hvr:hover .simg2 img, .img1-hvr:hover .simg3 img {
    transform: scale(1.20);
    transition: transform 0.3s ease;
  }

.cardd:hover .icon{
    border: 2px solid #FF4500;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.cardd:hover .icn{
    color: #FF4500;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.card-body h4 {
    font-size: 18px;
    color: #273D4E;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
}

.ftcrd{
    background-color: #FF4500;
    color: #ffff;
    font-size: 40px;
}

.cdb{
    font-size: 45px;
    color: #273D4E;
}

.ftcrd i{
    color: #ffff;
}

.cdbi{
    color: #FF4A17;
    font-size: 40px;
}

.cdb1{
    color: #FF4A17;
    font-size: 40px;
}

.card:hover{
    border: 1px solid #FF4A17;
}

.card:hover .cdb{
    color: #FF4A17;
}

/* features paragraph */
.para5{
    font-size: 16px;
}

.pri{
    color: #FF4500;
    font-size: 20px;
    cursor: pointer;
}

/* Check our Services */
.servcs{
    background-color: #F1F4FA;
}

.srvcecard{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.chkb{
    font-size: 35px;
    color: #FF4500;
}

.chcrd{
    background-color: #ffff;
    color: #1c1919;
    font-size: 40px;
}

/* Slider */
  .slider-bg {
    background-image: url(./images/testimonials-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
    padding: 20px;
    color: #fff;
    position: relative;
    text-align: center;
  }

  .bg-colr{
    background-color: #000000a8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slider-container {
    position: relative;
    overflow: hidden;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .slider-wrapper {
    display: flex;
    width: 100%; 
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-card {
    width: 100% ;
    flex-shrink: 0;
    padding: 20px;
  }
  
  .profile-pic {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
    border: 4px solid #fff;
  }
  
  .profile-pic img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .slider-card h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    margin: 0 0 5px;
    font-family: "Raleway", sans-serif;
  }
  
  .slider-card p {
    max-width: 748px;
    font-size: 14px;
    color: #A0A4A8;
    font-weight: 500;
    font-style: normal;
    line-height: 27px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .detail {
    color: #fff;
    font-size: 15px;
    line-height: 27px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    position: relative;
    max-width: 748px;
    margin: 0 auto;
  }
  
  .detail::before {
    content: '“';
    font-size: 40px;
    position: absolute;
    left: -15px;
    top: 10px;
    color: #fff;
  }
  
  .detail::after {
    content: '”';
    font-size: 40px;
    position: absolute;
    right: 115px;
    bottom: -14px;
    color: #fff;
  }
  
  .quot {
    display: none; 
  }
  
  .rating i {
    color: #FFFF00;; 
    font-size: 20px;
    margin: 0 2px;
  }

  .carousel{
    left: 70px;
    top: 43px;
  }

 /* CHECK OUR PORTFOLIO */
  .tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    padding: 50px 0px 10px 70px;
  }

  .nav-pills .nav-link.active {
    color: #FF4A17;
    background-color: #fff;
}

.nav-pills .nav-link:hover {
    color: #FF4A17;
    background-color: #fff;
}

.nav-pills .nav-link {
    color: #444444;
    background-color: #fff;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.tabgrid img{
    width: 100%;
    height: auto;
} 

.tabgrid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.app1{
    position: relative;
    overflow: hidden;
}

.dapps{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

/* portfolio image card */
.app1 .cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.525);
    display: none;
}

.app1:hover img {
    transform: scale(1.20);
    transition: transform 0.3s ease;
}

.app1:hover .cards{
    display: block;
}

.pfbtn{
    background-color: #ff4500;
    color: #fff;
    border: none;
    margin: 35px 30px 30px 45px;
    padding: 5px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    font-family: "Raleway", sans-serif;
}

.cardtext{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    padding: 45px 0px 0px 45px;
    color: #fff;
}

.zoomlink{
    padding: 35px 0px 0px 140px;
}

.zoomin{
    font-size: 25px;
}

.link{
    font-size: 30px;
}

/* check our team */
.team-bg{
    background-color: #F1F4FA;
    padding-bottom: 120px;
}

.team-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 55px;
}

#Team{
    padding-top: 60px;
}

.team-1 {
    display: inline-block;
    width: 100%;
    max-width: 400px;
}

.team-img {
    width: 100%;
    height: auto;
    display: block;
}

.team-card {
    position: absolute;
    bottom: -63px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 8px 0px;
}

.tcard-body {
    padding: 15px;
}

.team-name {
    color: #273D4E;
    font-size: 16px;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 19px;
}

.team-name::after {
    content: "";
    display: block;
    width: 40px; /* Adjust width as needed */
    height: 2px;
    background: gray;
    margin: 5px 0px;
}

.text-body-secondary {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
    line-height: 20px;
}

.dlink{
    margin: 25px 0px 0px 25px;
}

.dlink a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

.dlink a i{
    transition: color 0.3s ease-in-out;
}

.team-member{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 60px;
}

.ticon{
    color: #C6C6C6;
    font-size: 15px;
    cursor: pointer;
}

.ticon:hover{
    color: #ff4500;
}


/* Contact */
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.adicon{
    color: #ff4500;
    font-size: 25px;
    cursor: pointer;
    padding: 10px 15px;
    width: 60px; 
    height: 60px;
    border: 2px dotted #FF9274;
    border-radius: 50%;
}


.adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.adress h5{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #696969;
    text-align: center;
    margin-top: 10px;
}

.adress p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #444444;
    text-align: center;
}

/* subadress */
.subadress{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding-top: 30px;
}

/* form */
.form{
    padding: 15px;
}

.contact-form{
    width: 100%;
    margin: 0 auto;
}

.contact-form input{
    width: 100%;
    padding: 12px;
    margin: 8px 0px;
    border: 1px solid #ddd;
    border-radius: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #CFC6C6;
}

.contact-form input::placeholder{
    color: #CFC6C6;
}

.contact-form input::texarea{
    color: #CFC6C6;
}

.tfl {
    display: flex;
    gap: 15px;
}

.txarea{
    width: 100%;
    padding: 10px 0px 0px 10px;
}

.textarea:hover{
    border-color: #CFC6C6;
}

.btn-send {
    display: block;
    width: 140px;
    padding: 12px;
    background-color: #FF4A17;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    transition: color 0.3s ease;
    margin: 20px 0px 0px 180px;
}

.btn-send:hover {
    background-color: #ff4917ba;
}

.footer-area{
    justify-content: center;
    gap: 10px;
}

/* Footer */
.footer-bg{
    background-color: #000910;
}

/* col-1 */
.main{
    padding: 50px 20px 20px 0px;
}

.home-area a{
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    font-style: normal;
    font-family: "Raleway", sans-serif;
}

.home-area p{
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    font-family: "Raleway", sans-serif;
}

.footer-para{
    padding-top: 30px;
}

.footer-link{
    padding-top: 15px;
    display: flex;
    gap: 10px;
}

.footer-link i{
    color: #B3B6B8;
    border: 1px solid #B3B6B8;
    border-radius: 50%;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footer-link i:hover{
    color: #FF4500;
    transition: color 0.3s ease;
    border-color: #ff4500;
}

/* col-2 useful links */
.useful-links{
    padding-top: 40px;
}

.useful-links ul{
    padding-left: 0rem;
}

.useful-links h2{
    color: #ffff;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    font-style: normal;
    font-family: "Raleway", sans-serif;
}

.links i{
    font-size: 13px;
    color: #ff4500;
}

.links li {
    list-style: none;
    padding-bottom: 10px;
}

.links li a{
    text-decoration: none;
    color: #96A3B3;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    font-family: "Roboto", sans-serif;
}

.links li a:hover{
    color: #FF4500;
    transition: color 0.3s ease;;
}

/* col-4 */
.our-text{
    padding-top: 40px;
}

.our-text h2{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    font-style: normal;
    font-family: "Raleway", sans-serif;
}


.our-text p{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
}

.input-field{
    padding-top: 10px;
}

.input-field input{
    width: 100%;
    border: 1px solid #333A40;
    border-radius: 4px 0px 4px 4px;
    height: 40px;
    border-right: 0px !important;
    background-color: #000910;
    outline: 1px solid #333A40;
}

.input-field input:focus{
    outline: 1px solid #ff4500;
    height: 38px;
}

.input-field button{
    background-color: #ff4500;
    color: #ffff;
    padding: 8px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    border-radius: 2px;
    border: 2px solid #ff4500;
    display: block;
    height: 41px;
}

.input-field button:hover{
    background-color: #ff4400c9;
    transition: background-color 0.3s ease;
    color: #fff;
    border: 2px solid #ff4400c9;
}

.footer-bottom{
    padding-top: 20px;
    border-top: 1px solid #1A2228;
}

.footer-text h2{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}

.footer-text p{
    color: #FFFFFF;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;
}

.ftcolor{
    color: #ff4500;
    
}

.footer-text a{
    text-decoration: none;
}

/* media queries 768px*/
@media screen and (max-width: 769px)
{
/* the nav */
    .test{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* md navbar */
    .mi a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .mi btn:hover{
        background-color: #FF4500;
    }

    .blist{
        color: #ffff;
        font-size: 30px;
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 10px 15px;
    }

/* banner */
    .text h1 {
        font-size: 40px;
        line-height: 58px;
    }

    .text p {
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
    }

/* service */
    .cardd {
        left: 18px;
    }

    .card-txt h5{
        font-size: 16px;
    }

/* card */
    .card-body h5{
        font-size: 20px;
    }

    .simg3{
        padding-top: 70px;
    }

    .card-body {
        padding: 36px 22px;
    }

    .images{
        margin: auto;

    }

/* Clients */
    .client{
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        gap: 40px;
    }

/* feature */
.cdbody {
    padding: 0px 45px !important;
}

.main-title {
    font-size: 24px;
}

/* portfolio */
.tabgrid, .dapps, .team-member{
    grid-template-columns: auto auto;
}

/* contact form */
.form {
    grid-template-columns: 1fr;
}

.btn-send{
    margin: 20px auto;
}

/* footer */
.input-field button {
    padding: 8px 24px;
}
.our-text {
    padding-top: 0px;
}

}